<form action="<%= session_url %>" method="post" class="demo">
  <input type="hidden" name="user[email]" value="<%= demo_user.email %>">
  <input type="hidden" name="user[password]" value="mypassword">

  <div class="submit">
    <input type="submit" value="Demo Account">
  </div>
</form>