<form action="<%= session_url %>" method="post">
  <input type="hidden" name="user[email]" value="user1@example.com">
  <input type="hidden" name="user[password]" value="mypassword">

  <div class="submit">
    <input type="submit" value="Demo Account">
  </div>
</form>