<%= auth_token %>

<label for="user_first_name">First Name:</label>
<input type="text" id="user_first_name"
  name="user[first_name]" value="<%= user.first_name %>">

<br>

<label for="user_last_name">Last Name:</label>
<input type="text" id="user_last_name"
  name="user[last_name]" value="<%= user.last_name %>">

<br>

<label for="user_email">Email:</label>
<input type="email" id="user_email"
  name="user[email]" value="<%= user.email %>">

<br>

<label for="user_password">Password:</label>
<input type="password" id="user_password"
  name="user[password]">

<br>

<label for="user_password_confirmation">Confirm Password:</label>
<input type="password" id="user_password_confirmation"
  name="user[password_confirmation]">

<br>