<form action="<%= user_url(@user) %>" method="post" class="user-form">
  <h3>Edit Information</h3>

  <%= render partial: "input_fields", locals: { user: @user } %>

  <div class="input">
    <label for="user_old_password">Old Password:</label>
    <input type="password" id="user_old_password"
      name="old_password">
  </div>

  <input type="hidden" name="_method" value="put">

  <% flash[:errors].try(:each) do |error| %>
    <label class="error"><%= error %></label>
  <% end %>

  <% if flash[:notice] %>
    <label class="notice"><%= flash[:notice] %></label>
  <% end %>

  <div class="submit">
    <input type="submit" value="Update information">
  </div>
</form>