<% if flash[:errors] %>
  <% flash[:errors].each do |error| %>
    <label class="error"><%= error %></label>
  <% end %>
<% end %>

<form action="<%= users_url %>" method="post">
  <%= render partial: "input_fields", locals: { user: @user } %>

  <input type="submit" value="Sign up">
</form>