<form class="user-form" action="<%= users_url %>" method="post">
  <h3>Create New Account</h3>
  <%= render partial: "input_fields", locals: { user: @user } %>

  <% flash[:errors].try(:each) do |error| %>
    <p class="error"><%= error %></p>
  <% end %>

  <div class="submit">
    <input type="submit" value="Sign up">
  </div>
</form>