<% if flash[:errors] %>
  <% flash[:errors].each do |error| %>
    <label class="error"><%= error %></label>
  <% end %>
<% end %>

<form class="user-form" action="<%= reset_password_users_url %>" method="post">
  <%= auth_token %>

  <input type="hidden" name="_method" value="put">
  <input type="hidden" name="password_reset_token"
    value="<%= params[:password_reset_token] %>">

  <h3>Reset password</h3>

  <div class="input">
    <label for="user_password">Password:</label>
    <input type="password" id="user_password"
      name="user[password]">
  </div>

  <div class="input">
    <label for="user_password_confirmation">Confirm Password:</label>
    <input type="password" id="user_password_confirmation"
      name="user[password_confirmation]">
  </div>

  <div class="submit">
    <input type="submit" value="Update password">
  </div>
</form>