<section class="orders">
  <% if flash[:notice] %>
    <p class="notice"><%= flash[:notice] %></p>
  <% end %>

  <ul>
  <% @orders.each do |order| %>
    <li>
      <%= render partial: "order", locals: { order: order } %>
    </li>
  <% end %>
  </ul>
</section>