<form action="<%= item_wishlist_items_url(item) %>" method="post" data-remote="true">
  <%= auth_token %>

  <div class="choose">
    <label for="wishlist_id">Wishlist</label>
    <select id="wishlist_id" name="wishlist[id]">
      <% wishlists.try(:each) do |wishlist| %>
      <option value="<%= wishlist.id %>"><%= wishlist.name %></option>
      <% end %>
    </select>
  </div>

  <div class="button">
    <input type="submit" value="Add item to wishlist">
  </div>
</form>