<form action="<%= cart_item_url(cart_item.id || cart_item.item_id) %>" method="post" class="update">
  <input type="hidden" name="_method" value="put">
  <%= auth_token %>

  <input type="number" id="cart_item_quantity"
    name="cart_item[quantity]" value="<%= cart_item.quantity %>">

  <input type="submit" value="Update Quantity">
</form><br>

<%= button_to "Remove Item", cart_item_url(cart_item.id || cart_item.item_id), remote: true, method: :delete, form_class: "remove"%>