<form action="<%= item_cart_items_url(item) %>" method="post" data-remote="true">
  <%= auth_token %>

  <div class="choose">
    <label for="cart_item_quantity">Quantity</label>
    <input type="number" id="cart_item_quantity" name="cart_item[quantity]">
  </div>

  <div class="button">
    <input type="submit" value="Add to Cart">
  </div>
</form>