<% flash[:errors].try(:each) do |error| %>
  <label class="error"><%= error %></label>
<% end %>

<form action="<%= address_url(@address) %>" method="post" class="user-form">
  <input type="hidden" name="_method" value="put">

  <%= render partial: "form_fields", locals: { address: @address } %>

  <div class="submit">
    <input type="submit" value="Update address">
  </div>
</form>