<section class="addresses group">
  <ul>
    <% @addresses.each do |address| %>
      <li class="address">
        <%= render partial: "show", locals: { address: address } %>

        <div class="group">
          <%= link_to "Edit", edit_address_url(address) %>
          <%= button_to "Remove", address_url(address),
            { form_class: "remove", method: :delete } %>
        </div>
      </li>
    <% end %>

    <li><%= render partial: "new"%></li>
  </ul>
</section>