<section class="main">
  <section class="sidebar">
    <%= render partial: "filter_items_form",
      locals: { items: @items, brands: Brand.all, categories: Category.all, filter: params[:filter] || {} }%>
  </section>

  <section class="content">
    <%= render partial: "items", locals: { items: @items } %>
  </section>
</section>

<script>
$(document).ready(function () {
  $(".filter-form").on("ajax:success", function(event, data){
    $content = $(".content");
    $content.html(data);
  });
});
</script>