<ul>
<% @items.each do |item| %>
  <li>
    <%= link_to item.name, item_url(item) %>
    Price: $<%= item.price %>
  </li>
<% end %>
</ul>

<%= link_to "Back", categories_url %>

<%= render partial: "filter_items_form", locals: { items: @items, brands: @brands}%>