<section class="main">
  <section class="sidebar">
    <%= render partial: "filter_items_form",
      locals: { items: @items, brands: Brand.all, categories: Category.all, filter: params[:filter] || {} }%>
  </section>

  <section class="content">
    <nav class="page-nav-bar group">
      <%= paginate @items %>
    </nav>

    <ul class="group">
    <% @items.each do |item| %>
      <li>
        <%= render partial: "item_summary", locals: { item: item } %>
      </li>
    <% end %>
    </ul>

    <nav class="page-nav-bar group">
      <%= paginate @items %>
    </nav>
  </section>
</section>