/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, vendor/assets/stylesheets,
 * or vendor/assets/stylesheets of plugins, if any, can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the top of the
 * compiled file, but it's generally better to create a new file per style scope.
 *
 *= require_self
 *= require_tree .
 */

/* --- RESET --- */
html, body, form, nav, ul, li, label, h1, h2, h3, h4, div, p, section, header {
  padding: 0;
  border: 0;
  margin: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline;
}

input[type="text"],
input[type="email"],
input[type="password"],
input[type="submit"],
button,
textarea {
  -webkit-appearance: none;
  display: inline-block;
  padding: 0;
  border: 0;
  margin: 0;
  outline: 0;
  background: transparent;
  color: inherit;
  font: inherit;
  box-sizing: content-box;
  vertical-align: baseline;
}

body {
  font-family: sans-serif;
  background: #eee;
}

ul {
  list-style: none;
}

a {
  text-decoration: none;
}

/* --- CLEARFIX --- */

.group:after {
  content: "";
  display: block;
  clear: both;
}

.top-nav-bar {
  background: #00f;
  color: #fff;
  padding: 5px;
  min-width: 700px;
}

.top-nav-bar a {
  color: #fff;
  display: block;
  padding: 5px 10px;
}

.top-nav-bar li {
  float: left;
}

.top-nav-bar input[type="submit"] {
  cursor: pointer;
}

.left-nav-links {
  float: left;
}

.right-nav-links {
  float: right;
}

.left-nav-links input[type="text"] {
  border: 2px solid #fff;
  width: 100px;
  margin: 0 5px;
  border-radius: 5px;
}

.left-nav-links input[type="text"]:focus {
  border-color: #0ff;
}

.left-nav-links form {
  margin: 3px 10px;
}

.right-nav-links form {
  margin: 5px 10px;
}

header {
  background: #0ef;
  min-width: 1000px;
}

header > img {
  float: left;
}

.motto {
  width: 500px;
  float: left;
  margin: 100px 0 0 50px;
}

.motto > h2,
.motto > h3 {
  text-align: center;
  font-weight: bold;
  margin: 5px;
  font-family: "geneva";
  font-style: italic;
}

.motto > h2 {
  font-size: 24px;
}

.motto > h3 {
  font-size: 20px;
}