// Place all the styles related to the Items controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/
input[type="file"] {
  outline: 0;
}

.main {
  margin: auto;
  background: #fff;
  min-width: 1310px;
}

.sidebar {
  float: left;
  width: 200px;
  padding: 15px 25px;
  border-right: 1px solid #000;
}

.content {
  float: left;
  width: 77%;
  padding: 10px 20px;
  margin: 0 auto
}

.button > input {
  position: relative;
  color: #fff;
  background: #08f;
  padding: 5px 10px;
  border-radius: 5px;
  cursor: pointer;
  box-shadow: 0 2px #000;
  margin: 0 0 15px 0;
}

.button > input:hover {
  background: #06f;
}

.button > input:active {
  top: 2px;
  box-shadow: none;
};

.criteria {
  margin: 15px 0;
}

.criteria > ul {
  margin: 5px 0;
}

.criteria > ul > li {
  margin: 2px 0;
}

.item {
  margin: 25px;
  min-width: 250px;
}

.item > img {
  display: block;
  margin: 10px;
}

.item a {
  margin: 5px;
}

.item p {
  margin: 5px;
}

.content li {
  float: left;
  width: 25%;
  height: 250px;
}

.page-nav-bar > nav {
  float: right;
}

.page-nav-bar {
  padding: 10px;
}

.item-info {
  padding: 10px;
  background: #fff;
  min-width: 1050px;
}

.photos-list {
  float: left;
}

.photos-list img {
  width: 50px;
  height: 50px;
  cursor: pointer;
}

.photo {
  float: left;
  width: 25%;
  padding: 10px;
}

.photo > img {
  width: 100%;
  height: 100%;
}

.item-details {
  float: left;
}

.item-details > p {
  padding: 10px;
  min-width: 300px;
}

.item-details > h2 {
  padding: 10px;
  font-size: 36px;
  font-weight: bold;
}

.item-controls {
  float: right;
  padding: 20px 20px 10px 25px;
  border: 2px solid #ddd;
  border-radius: 10px;
  width: 200px;
}

.choose {
  margin: 5px 0;
}

.choose > input[type="text"] {
  border: 2px solid #000;
  border-radius: 5px;
  width: 70px;
  margin: 5px 0;
}

.reviews {
  margin: 15px;
}

.reviews > ul {
  margin: 10px;
}

.reviews li {
  margin: 20px 0;
}

.reviews h3 {
  font-weight: bold;
  font-size: 20px;
  margin: 5px 0;
}

.reviews .input > input[type="text"] {
  width: 400px;
}

.reviews p {
  margin: 5px 0;
}

.input > textarea {
  background: #fff;
  padding: 2px;
  border: 2px solid #000;
  border-radius: 5px;
  width: 400px;
  height: 150px;
}

.item-form {
  width: 425px;
  padding: 25px;
  margin: 100px auto;
  background: #fff;
  border-radius: 10px;
}

.item-form > ul {
  margin: 0 0 15px 0;
}

.item-form li {
  margin: 5px;
}

.item-form li > img {
  width: 40px;
  height: 40px;
  float: left;
  margin: 0 5px 0 0;
}

.remove-item {
  float: left;
}

.remove-item input[type="submit"] {
  position: relative;
  color: #fff;
  background: #08f;
  padding: 10px;
  border-radius: 5px;
  cursor: pointer;
  box-shadow: 0 2px #000;
  font-size: 14px;
}

.remove-item input[type="submit"]:hover {
  background: #06f;
}

.remove-item input[type="submit"]:active {
  top: 2px;
  box-shadow: none;
}