// Place all the styles related to the Orders controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/
.orders {
  width: 900px;
  margin: 100px auto;
  background: #fff;
  border-radius: 10px;
  padding: 15px;
}

.orders > p {
  display: inline-block;
  margin: 10px;
}

.order {
  border: 1px solid #ccc;
}

.order-summary {
  width: 200px;
  float: left;
  padding: 10px;
}

.order-summary > h3 {
  font-size: 20px;
  font-weight: bold;
  margin: 5px 0 15px 0;
}

.order-summary > a {
  display: inline-block;
  margin: 5px 0;
}

.order-items {
  float: left;
  padding: 10px;
  border-left: 1px solid #ccc;
  min-height: 120px;
}

.order-items img {
  width: 50px;
  height: 50px;
  margin: 0 10px 10px 0;
  float: left;
}

.order-items a {
  display: inline-block;
  float: left;
  margin: 5px 0;
}

.order-detail {
  width: 900px;
  margin: 100px auto;
  padding: 20px;
  background: #fff;
  border-radius: 10px;
}

.order-form {
  width: 600px;
  background: #fff;
  border-radius: 10px;
  margin: 100px auto;
  padding: 10px 20px;
}

.order-form img {
  width: 50px;
  height: 50px;
  float: left;
  margin: 0 10px 0 0;
}

.order-form .quantity {
  width: 100px;
  text-align: right;
}

.order-form h4 {
  font-weight: bold;
  font-size: 20px;
  margin: 0 0 10px 0;
}

.order-form form {
  margin: 20px;
}

.order-form .submit {
  text-align: right;
}

.order-form .submit > input[type="text"] {
  padding: 5px 15px;
}

.order-summary > p {
  margin: 3px 0;
}

.order-item-detail {
  float: left;
  padding: 0 0 0 20px;
  border-left: 2px solid #ccc;
}

.order-item-detail > table {
  width: 600px;
}

.order-item-detail > table .quantity {
  width: 75px;
  text-align: right;
}

.order-item-detail img {
  float: left;
  margin: 0 10px 0 0;
}