// Place all the styles related to the Users controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/
.account-control {
  background: #fff;
  border-radius: 10px;
  padding: 25px;
  width: 200px;
  margin: 100px auto;
}

.account-control li {
  margin: 10px 0;
}