// Place all the styles related to the Wishlists controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/
.wishlists > li {
  display: block;
  float: left;
  background: #fff;
  border-radius: 10px;
  padding: 10px;
  margin: 10px;
  min-width: 250px;
}

.wishlists h3 {
  font-weight: bold;
  font-size: 24px;
  margin: 5px 0 15px 0;
  text-align: center;
}

.wishlists img {
  float: left;
  width: 75px;
  height: 75px;
}

.wishlists a {
  margin: 10px 5px;
  display: inline-block;
  padding: 5px;
  margin: 0;
}

.wishlists section li {
  display: block;
  margin: 10px 0;
}

.wishlist-item input[type="submit"] {
  font-size: 14px;
  position: relative;
  color: #fff;
  background: #08f;
  padding: 5px;
  margin: 5px;
  border-radius: 5px;
  cursor: pointer;
  box-shadow: 0 2px #000;
  text-align: center;
}

.wishlist-item input[type="submit"]:hover {
  background: #06f;
}

.wishlist-item input[type="submit"]:active {
  top: 2px;
  box-shadow: none;
}

.wishlist-item form {
  float: left;
}