<ul class="wishlists">
  <% @wishlists.each do |wishlist| %>
    <li>
      <%= render partial: "wishlist", locals: { wishlist: wishlist } %>
    </li>
  <% end %>

  <li><%= render partial: "form" %></li>
</ul>